

.product-image {
    object-fit: cover;
    width: 80%;
    max-width: 150px;
}

.product-body {
    padding: 0.75rem;
}

.product-title {
    margin: 0 0 0.25rem;
    font-size: 1.05rem;

    font-weight: 600;
}

 .product-card {
         display: flex;
    flex-direction: column;
    align-items: center;
    }

.product-body {
     display: flex;
    align-items: center;
    flex-direction: column;
}

