.footer {
    background: #f5f5f5;
    padding: 2rem 1rem 1rem;
    margin-top: 3rem;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

.footer-column h3 {
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;;

    & img {
        object-fit: none;
    }
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-column a:hover {
    color: var(--color-primary);
}

.footer-bottom {
    text-align: center;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
}