@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');

:root {

  font-family: 'Afacad';

  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */
  --color-primary: #E7B700;
  --color-primary-hover: #535bf2;
  --color-border-light: #eaeaea;
  --color-border-dark: #333;
  --color-bg-light: #fff;
  --color-bg-dark: #1a1a1a;
  --color-bg-header-light: rgba(255, 255, 255, 0.8);
  --color-bg-header-dark: rgba(36, 36, 36, 0.8);
  --color-text-secondary: #666;
  --color-oregano-yellow: #E7B700;
  --color-btn-bg:#f1f1f1;
  --color-section-bg: #fafafa00;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid #80808026;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color:var(--color-btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--color-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

}